
#highballr-iframe {
  background: transparent;
  border: none;

  /**
   * by using an absolute position and top, right, bottom, left coordinates an
   * element it will automatically resize to it's parent, the catch is **You
   * to set a width and height for this to work**
   */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
